html, body{
    background-color: darkslateblue;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.line {
    position:absolute;
    background-color:white;
}

.horizontal {
    height: 1px;
    width: 100%;
    transform: translateY(50%);
}

.vertical {
    height: 100%;
    width: 1px;
    transform: translateX(50%);

}

.target {
    position: absolute;
    transform: translate(-50%, -50%);
}

.text {
    position:absolute;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

