@import "reset.css";

:root {
  /* color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ffa500;
  --color-yellow: #ffff00;
  --color-green: #008000;
  --color-blue: #0000ff;
  --color-navy: #000080;
  --color-purple: #800080;
}

body {
  background-color: #f6f9fc;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.canvas {
  width: 40em;
  height: 40em;
  background-color: white;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 5rem;
}

.controls {
  margin-top: 2rem;
  text-align: center;
  width: 70%;
}
.control__column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.control__column .controls__size {
  margin-left: 2rem;
}
.controls .control__colors {
  display: flex;
  margin-top: 2rem;
}
.controls__btn button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem 0;
  width: 5.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.controls__btn button:active {
  transform: scale(0.95);
  background-color: rgba(211, 211, 211, 0.658);
}
.control__colors .control__color {
  width: 2em;
  height: 2em;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.yourColor{
    margin-left: 1rem;
}


@media screen and (max-width: 768px) {
  .canvas {
    width: 70vw;
    height: 70vh;
    margin-top: 2rem;
  }
}
